@model PlanModel
@using SmartStore.Admin.Models.Hyip;
@{
    //page title
    ViewBag.Title = T("Admin.Hyip.Plans.AddNew").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "plan-form" }))
{
    <div class="section-header">
        <div class="title">
            @T("Admin.Hyip.Plans.AddNew") 
			<a href='@Url.Action("List")'>(@T("Admin.Hyip.Plans.BackToList"))</a>			
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-primary">
				<i class="fa fa-check"></i>
				<span>@T("Admin.Common.Save")</span>
			</button>
            <button type="submit" name="save" value="save-continue" class="btn btn-secondary">
				<span>@T("Admin.Common.SaveContinue")</span>
			</button>
        </div>
    </div>

    Html.RenderPartial("_CreateOrUpdate", Model);
}